<%= form_for(@organization) do |f| %>
    <% if @organization.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @organization.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <form class="form-inline" role="form">
      <div class="form-group" style="display: inline-flex">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
      </div>
      <button name="commit" type="submit" class="btn btn-primary">Create</button>
    </form>
<% end %>
